<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container" data-ng-app="ContactModule">

        <div class="row" data-ng-controller="HeaderController as headerCtrl">
            <h4> {{headerCtrl.appName}} </h4>
        </div>


        <div class="row" data-ng-controller="ContactController as ctCtrl">
            <div class="col-md-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" data-ng-class="{' active' : $index == ctCtrl.activeIndex}" data-ng-repeat="contact in ctCtrl.contacts"
                        data-ng-click="ctCtrl.selectContact($index)">
                        <span>{{contact.name.first + " "+contact.name.last}}</span>

                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-success" data-ng-if="ctCtrl.isUpdateSuccess">{{ctCtrl.successMessage}}</div>
                <div class="alert alert-warning" data-ng-if="ctCtrl.isUpdateFailure">{{ctCtrl.failureMessage}}</div>
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" style="min-height:300px;" data-ng-src="{{ ctCtrl.selectedContact.picture.large }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text ">{{ctCtrl.selectedContact.name.first + " "+ctCtrl.selectedContact.name.last}}</p>
                        <button class="btn btn-info" data-ng-click="ctCtrl.updateContact()">{{ctCtrl.editMode ? "Done" : "Edit"}}</button>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span> Street : </span> <span data-ng-hide="ctCtrl.editMode">{{ ctCtrl.selectedContact.location.street }} </span>
                            <input type="text" data-ng-show="ctCtrl.editMode" data-ng-model="ctCtrl.selectedContact.location.street" >
                        </li>
                        <li class="list-group-item">
                            <span> City: </span> <span data-ng-hide="ctCtrl.editMode">{{ ctCtrl.selectedContact.location.city}}</span>
                            <input type="text" data-ng-show="ctCtrl.editMode" data-ng-model="ctCtrl.selectedContact.location.city" >
                        </li>
                        <li class="list-group-item">
                            <span> State: </span> <span data-ng-hide="ctCtrl.editMode">{{ ctCtrl.selectedContact.location.state}}</span>
                            <input type="text" data-ng-show="ctCtrl.editMode" data-ng-model="ctCtrl.selectedContact.location.state" >
                        </li>
                        <li class="list-group-item">
                            <span> PIN: </span> <span data-ng-hide="ctCtrl.editMode"> {{ ctCtrl.selectedContact.location.postcode}}</span>
                            <input type="text" data-ng-show="ctCtrl.editMode" data-ng-model="ctCtrl.selectedContact.location.postcode" >
                        <li class="list-group-item">
                            <span> Email: </span> <span data-ng-hide="ctCtrl.editMode">{{ctCtrl.selectedContact.email}} </span>
                            <input type="text" data-ng-show="ctCtrl.editMode" data-ng-model="ctCtrl.selectedContact.email">
                        </li>
                        <li class="list-group-item">
                            <span>Phone: </span> <span data-ng-hide="ctCtrl.editMode" >{{ctCtrl.selectedContact.phone}} </span>
                            <input type="text" data-ng-show="ctCtrl.editMode" data-ng-model="ctCtrl.selectedContact.phone">
                        </li>
                    </ul>
                    

                </div>
            </div>

            
        </div>

        <div class="row" data-ng-controller="FooterController as footerCtrl">
            <ul class="list-group-item list-group-item-action">
                <li data-my-app></li>
            </ul>
        </div>

    </div>



</body>

</html>