<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    <!-- <div class="container" data-ng-app='mainApp'ng-strict-di>
            <h1> angularjs tutorial 1 </h1> 
            <hr>
            <div class="container" data-ng-app="CalculatorModule">
            <h4>Calculator</h4>
            <div data-ng-controller="OperationController as Ctrl">
                <div class="row">
                <input class="col-4" type="number" data-ng-model="Ctrl.op1">
                <span class ="col-1" data-ng-bind="Ctrl.selectedOperation"></span>
                <input class="col-4" type="number" data-ng-model="Ctrl.op2">
                <button class="col-1 btn btn-primary" data-ng-click="Ctrl.computeResult()">=</button>
                <span class="col-2">{{Ctrl.resultValue}}</span>
                </div>
                <div class="container">
                Choose an Operation:
                    <button class="btn btn-success" data-ng-click = "Ctrl.onBtnClicked('+')">+</button>
                    <button class="btn btn-info" data-ng-click = "Ctrl.onBtnClicked('-')">-</button>
                    <button class="btn btn-warning" data-ng-click = "Ctrl.onBtnClicked('*')">*</button>
                    <button class="btn btn-danger" data-ng-click = "Ctrl.onBtnClicked('/')">/</button>
                
                {{Ctrl.op1}} {{Ctrl.op2}}
            </div>
            </div>
         </div>
         </div> -->

    <div class="container" data-ng-app="ContactModule">
        
        <div class="row" data-ng-controller="HeaderController as headerCtrl">
                <h4> {{headerCtrl.appName}} </h4>
        </div>

        
        <div class="row" data-ng-controller="ContactController as ctCtrl">
            <div class="col-md-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" data-ng-class="{' active' : $index == ctCtrl.activeIndex}" data-ng-repeat="contact in ctCtrl.contacts"
                        data-ng-click="ctCtrl.selectContact($index)">
                        <span>{{contact.name.first + " "+contact.name.last}}</span>

                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" style="min-height:300px;" data-ng-src="{{ ctCtrl.selectedContact.picture.large }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text ">{{ctCtrl.selectedContact.name.first + " "+ctCtrl.selectedContact.name.last}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ctCtrl.selectedContact.location.street+ " / "+ctCtrl.selectedContact.location.city}}</li>
                        <li class="list-group-item">{{ctCtrl.selectedContact.location.state+ " / "+ctCtrl.selectedContact.location.postcode}}</li>
                        <li class="list-group-item">{{ctCtrl.selectedContact.email}}</li>
                        <li class="list-group-item">{{ctCtrl.selectedContact.phone}}</li>
                    </ul>

                </div>
            </div>
        </div>

                <div class="row" data-ng-controller="FooterController as footerCtrl">
                        <h4> {{footerCtrl.appName}} </h4>
                        <p></p>
                        <span>{{footerCtrl.date}}</span>
                </div>

    </div>



</body>

</html>